:root{
    --bg:#EFEFEF;
    --font:#34312F;
    --hover:#386b47;}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}   
.navbar{
    width:auto;
    height: 106px;
}
.header-menu-logo img{
    width:241px;
    height: 56px;
}
.header-menu--form{
    margin-right: 5%;
}
.header-menu--form button{
    background-color: transparent;
    border: var(--hover);
    border-radius: 2px;
    color: var(--hover);
    padding: 0 6px;
    font-size: 1.2rem;
    font-weight: bold;
}
.header-menu--form button:hover{
    background-color: var(--hover);
    color: white;
}
.nav-item img{
    margin-left: 10px;
}
#heading{
    padding-left: 50px;
}
.dropdown-menu a{
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}
.dropdown button{
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}
/*background*/

.main-background img{
    width: 1200px;
}
.main-title{
    color: var(--font);
    text-align: center;
}
/* products */
.main-products{
    margin-top: 3%;
}
.main-products h2{
    text-align: center;
    margin-bottom: 3%;
}
.main-products div{
    margin-left: 3%;
}
.card-body button{
    width: 150px;
    background-color: var(--hover);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    
}
.main--products-2 button{
    margin-top: 30px;
}
.products-pages{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.btn--return{
    border: var(--font);
    color: var(--font);
    font-size: 1.2rem;
    background-color: transparent;
    font-weight: bold;
}
.btn--return:hover{
    width:60px;
    border: none;
    background-color: var(--font);
    color: white;
}
.btn--confirm{
    width:120px;
    border: none;
    background-color: var(--font);
    color: white;
    font-size: 1.2rem; 
}
.btn--confirm:hover{
    background-color: var(--hover);
    font-weight: bold;
}
footer{
    display: grid;
    grid-template-columns: auto auto;
    background-color: var(--bg);
    margin-top: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-details--bullets li{
    list-style: none;
    font-size: 1.2rem;
}
.footer-details--bullets a{
    text-decoration: none;
    color:var(--font);
}
.footer-logo{
    display: grid;
    justify-content: end;
}
.footer-logo img{
    width:50%;
    margin-top: 10%;
    
}

